.brands-posts-container {
    width: 100%;


    .brands-posts-title {
        margin-right: 5%;
        color: #2C2C2C;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .brands-slider-container {

        direction: ltr;

        .brands-slider-wrapper {
      


            .brands-slider-page {
      
                flex: 0 0 25%;
                max-width: 25%;
                padding-top: 19%;

                a{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 15px;
                    right: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: initial;
                        width: 100%;
                    }
                }
               
            }
        }

    }


}